.node-gutter {
  width: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.gutter-expand-toggle {
  position: absolute;
  right: 3px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.expand-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px 4px;
  color: var(--gray-500);
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.15s;
}

.expand-toggle-button.collapsed {
  opacity: 1;
  transform: translateY(-1px);
}

.expand-toggle-button.expanded {
  transform: translate(6px, -4px);
}

.expand-toggle-button:hover {
  opacity: 1;
  color: var(--gray-700);
}

.expand-toggle-button.has-hidden-matches {
  color: var(--white);
  opacity: 1;
  padding: 0 4px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.expand-toggle-button.has-hidden-matches::before {
  content: '';
  position: absolute;
  inset: 2px 0 0 0;
  background-color: var(--blue-500);
  z-index: -1;
}

.expand-toggle-button.has-hidden-matches:hover {
  color: var(--white);
}

.expand-toggle-button.has-hidden-matches:hover::before {
  background-color: var(--blue-500);
}
