.terminal-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.terminal-container .xterm {
  width: 100%;
  height: 100%;
}

.terminal-container .xterm-viewport {
  overflow-y: auto;
}
