.terminal-container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.terminal-container .xterm {
  width: 100%;
  height: 100%;
  user-select: text !important;
  -webkit-user-select: text !important;
}

.terminal-container .xterm-viewport {
  overflow-y: auto;
}
