.tree-node-wrapper {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.tree-node-wrapper.selected {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
