.browser-content {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.browser-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.browser-wrapper.hidden {
  display: none;
}
