.status-checkbox {
  font-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--gray-400);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.status-checkbox.status-pending {
  border-color: var(--gray-400);
  color: transparent;
}

.status-checkbox.status-completed {
  border-color: var(--green-700);
  color: var(--green-700);
}

.status-checkbox.status-abandoned {
  border-color: var(--red-400);
  color: var(--red-400);
}
