.workspace {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.workspace.blueprint-mode {
  box-shadow:
    inset 3px 0 0 0 var(--sky-500),
    inset -3px 0 0 0 var(--sky-500),
    inset 0 3px 0 0 var(--sky-500);
}
