.tab-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-100);
}

.tab-bar-tabs {
  display: flex;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-bar-tabs::-webkit-scrollbar {
  height: 4px;
}

.tab-bar-tabs::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 2px;
}

.tab-bar-tabs::-webkit-scrollbar-thumb:hover {
  background: var(--gray-500);
}
