.tab-bar {
  flex-shrink: 0;
  display: flex;
  background: var(--gray-50);
  border-bottom: 1px solid var(--gray-300);
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-bar::-webkit-scrollbar {
  height: 4px;
}

.tab-bar::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 2px;
}

.tab-bar::-webkit-scrollbar-thumb:hover {
  background: var(--gray-500);
}
