.expand-toggle {
  width: 16px;
  height: 16px;
  color: var(--gray-400);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.expand-toggle.collapsed {
  opacity: 1;
}

.expand-toggle:hover {
  opacity: 1;
  color: var(--gray-500);
}

.expand-toggle-icon {
  font-size: 1.4rem;
}
