:root {
  /* Grayscale */
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f0f0f0;
  --gray-200: #e0e0e0;
  --gray-300: #ddd;
  --gray-400: #999;
  --gray-500: #666;
  --gray-600: #333;

  /* Red tones */
  --red-50: #fee;
  --red-400: #e44;
  --red-600: #c00;
  --red-900: #600;

  /* Orange/Yellow tones */
  --yellow-50: #ffc;
  --orange-500: #f90;
  --orange-900: #630;

  /* Green tones */
  --green-50: #efe;
  --green-500: #0a0;
  --green-700: #080;
  --green-900: #060;

  /* Blue tones */
  --blue-50: #eef;
  --blue-75: #3b82f626;
  --blue-100: #3b82f64d;
  --blue-500: #06c;
  --blue-900: #036;

  /* Sky tones */
  --sky-100: #e0f2fe;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
}
