:root {
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f0f0f0;
  --gray-200: #e0e0e0;
  --gray-300: #ddd;
  --gray-400: #999;
  --gray-500: #666;
  --gray-600: #333;

  --red-50: #fee;
  --red-400: #e44;
  --red-600: #c00;
  --red-900: #600;

  --yellow-50: #ffc;
  --amber-500: #c47f09;
  --orange-500: #f90;
  --orange-900: #630;

  --green-50: #efe;
  --green-500: #0a0;
  --green-700: #080;
  --green-900: #060;

  --blue-50: #eef;
  --blue-75: #3b82f626;
  --blue-100: #3b82f64d;
  --blue-500: #06c;
  --blue-900: #036;

  --sky-100: #e0f2fe;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;

  --selection-collapsed: rgba(33, 150, 243, 0.1);
  --selection-multi: rgba(0, 128, 128, 0.15);
}
