name: Build

on:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm run test:run

  build:
    name: Build (${{ matrix.artifact-name }})
    needs: test
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact-name: linux
          - os: macos-latest
            artifact-name: macos
          - os: windows-latest
            artifact-name: windows
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm run make
      - uses: actions/upload-artifact@v4
        with:
          name: arborescent-${{ matrix.artifact-name }}
          path: out/make/
